/* app css stylesheet */

body {
  padding-top: 60px;
}

ul.shows li{
  margin-bottom: 0px;
}

ul.shows .thumbnail{
  padding-left: 20px; 
  height: 130px;
  margin-top: 15px;
}

.show-card-thumb {
  height: 150px;
  max-width: 100px;
  padding-right: 1em;
  position: relative;
}

.show-card-thumb img{
  height: 150px;
  max-width: 100px;
}

.show-cars-thumb-group {
    position: relative;
    margin: 0 auto;
    display: table;
}

.show-cars-thumb-group .badge{
  position: absolute;      
  bottom: 2px;
  right: 2px;
}

.progress-anchor{
  display: table;
  position: relative;
}

.progress-container{
  position: absolute;
  width: 255px;
  bottom: -130px;
}

.progress-container p {
  margin-right: 2px; 
  margin-bottom: 0px;
}

.show-card .progress{
  height: 10px;
  margin-bottom: 10px;
}